body {
    font-family:Arial, Helvetica, Sans-serif;
    font-size: 10%;
    margin-left: 10px;
}
a:hover, a:focus {
    font-style: italic;
    color: red;
}
header h1 {
    font-size: 175%;
    color: limegreen;
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color: #800000;
    text-indent: 30px;
}